body {
  background: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.card {
  margin: 0 auto;
  width: 536px;
  height: 562px;
  background: #ffffff;
  box-shadow: 0 44px 54px -30px rgba(171, 200, 250, 0.38);
  border-radius: 15px;
}
.p1 p {
  width: 181px;
  height: 28px;
  position: absolute;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin: 75px 285px 20px 70px;
}
.p2 {
  position: absolute;
  width: 396px;
  height: 78px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin: 123px 70px 20px 70px;
}
.p3 {
  position: absolute;
  width: 149px;
  height: 26px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #494949;
  margin: 221px 317px 51px 70px;
  margin-bottom: 20px;
}
.li {
  list-style-type: none;
}
span {
  position: absolute;
  width: 76px;
  height: 26px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  color: #494949;
  margin-top: 300px;
  margin-left: 70px;
}
.lista {
  margin-top: 340px;
  margin-left: 20px;
}
.li {
  position: relative;
  font-family: 'Lato', sans-serif;
  display: inline-block;
  background: #eff5ff;
  border-radius: 45px;
  color: #2e29ff;
  font-weight: 600;
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.link a {
  text-decoration: none;
  position: absolute;
  padding: 11px 32px;
  width: 77px;
  height: 26px;
  margin: 0px 0px 61px 102px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
